# --- NO SUBIR DATA PESADA ---
data/

# resultados/pipeline
results/*
!results/pipeline/
results/pipeline/*
!results/pipeline/configs
!results/pipeline/scripts

# Python
__pycache__/
*.pyc
*.pyo

# logs sueltos
*.log

# OS/Editor
.DS_Store
.vscode/
.idea/
